//
// Contact section styling
//

#contact {
    background-color: $gray-900;
    background-image: url("../assets/img/et-phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;


    a {
        color: $white;
        font-size: 1.25rem;
    }


    // .contact-heading {
    //     font-size: 3.25rem;
    //     font-weight: 700;
    //     line-height: 3.25rem;
    //     margin-bottom: 1rem;
    //     font-family: $headings-font-family;
    // }

    // .contact-subheading {
    //     font-size: 1.5rem;
    //     line-height: 1.5rem;
    //     margin-bottom: 25px;
    //     font-family: $subheadings-font-family;
    // }

    // .contact-strapline {
    //     font-size: 1.25rem;
    //     line-height:2rem;
    //     margin-bottom: 25px;
    //     font-family: $subheadings-font-family;
    //     margin: 0 auto;
    //     max-width: 70%
    // }
    // p {
    //     color: white
    // }
}
