// Portfolio item 3 modal popup
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-bs-dismiss='modal')
        img(src='assets/img/close-icon.svg', alt='Close modal')
      .container
        .row.justify-content-center
          .col-lg-8
            .modal-body
              // Project details
              h2.text-uppercase Squirrel
              p.item-intro.text-muted Redesigning the on-boarding and set-up of a FinTech startup.
              .row
                .col-lg-4.col-sm-6.mb-4
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/firebox-1.png', alt='...')
                .col-lg-4.col-sm-6.mb-4
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/firebox-2.png', alt='...')
                .col-lg-4.col-sm-6.mb-4
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/firebox-3.png', alt='...')
              ul.list-inline
                li
                  | Client:
                  strong
                    a(href='https://firebox.com') Firebox
                  |                       - Date: 
                  strong February 2018
                  |  - Service: 
                  strong UX Design
                  | .

              br    
              h4 Summary
              p
                | Firebox are an alternative homeware and lifestyle shopping site. A number of the products they sell are personalised products in which you can upload images to be printed on products such as cushions, facemasks, suitcase covers etc. I completely redesigned the product personalisation process.
              
              br
              h4 Problem
              p
                | Drop-off rates during the product personalisation process were quite high, particularly on mobile. Through user testing the current process, a number of key pain-points were identified.

              br
              h4 Solution
              p
                | After identifying common pain-points and by iterating through designs, wireframes, prototypes and validating with more user testing, all of the pain points identified were systematically addressed and resolved.
              
              br
              h4 Tools and techniques
              p
                | Contextual enquiry, competitor analysis, personas, user flows, design studios, paper prototyping, wireframing in Sketch, interactive prototypes in Marvel and Framer, user testing, design specifications, CSS and HTML.
          
              h4
              a(href='assets/pdfs/Jason_Sparks_Firebox_Personalised_mid-form_case_study.pdf' target='_blank') Read the full case study here
              br
              br

          
            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                i.fas.fa-times.me-1
                | Close Project