//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$lilac: #8B95C9;

// Override Bootstrap state colors variables

$primary: $yellow;
// $primary: $lilac;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
