//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$lilac: #8B95C9;
$dark-grey: #555555;
$ketchup: #B24E3D;

// Override Bootstrap state colors variables

$primary: $ketchup;
// $primary: $lilac;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
